body {
  margin: 0;
  font-family: "Georgia", serif;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
}

/* Container for Centering Page Content */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  height: 20vh;
  display: flex;
}

header img {
  width: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

/* Navigation Bar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34495e;
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
}

nav a:hover {
  color: #00c6ff;
}

nav img.logo {
  height: 40px;
  border-radius: 20px;
}

/* Main Content Styles */
main {
  display: block;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
}

main h2 {
  font-size: 2.5em;
  color: #2c3e50;
}

main p {
  color: #333;
  font-size: 1.1em;
  line-height: 1.6;
  margin: 15px 0;
}

/* Footer Styles */
footer {
  font-size: 0.9em;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #34495e;
  color: #ecf0f1;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer a {
  color: #ecf0f1;
  text-decoration: none;
}

footer a:hover {
  color: #00c6ff;
}

/* Product of the Week Styling */
.product-of-the-week {
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
  background: linear-gradient(135deg, #e9ecef, #f8f9fa);
  border-radius: 8px;
}

.product-of-the-week img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  mix-blend-mode: multiply;
}

.product-of-the-week p {
  font-size: 16px;
  color: #555;
}

.product-of-the-week img {
  width: 25rem;
}

/* Customer guarantee styling */
.customer-guarantee img {
  width: 220px;
}

main .why-choose-us ul li {
  margin: 15px 0;
}

/* Weekly Sales Styling */
.weekly-sales {
  margin-bottom: 40px;
}

.weekly-sales .sales-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #e9ecef, #f8f9fa);
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.weekly-sales .sales-item img {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
  mix-blend-mode: multiply;
}

.weekly-sales .sales-item p {
  flex: 1;
  font-size: 16px;
  color: #555;
}

main .sales-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

main .sales-item img {
  width: 200px;
  margin-bottom: 10px;
}

main .why-choose-us ul {
  list-style-type: disclosure-closed;
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
}

@media (max-width: 833px) {
  .logo {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
  }

  .mobile a:hover {
    color: #00c6ff;
  }
}

/* About.html styles */

/* Styles for the ordered list */
ol {
  list-style-type: decimal;
  padding-left: 20px;
  max-width: 350px;
  margin: 0 auto;
}

ol li {
  margin: 10px 0;
}

ol li:hover {
  cursor: pointer;
  color: #00c6ff;
}

/* Scroll to Top Button */
#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 10;
  border: none;
  outline: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  opacity: 0.2;
  transition: opacity 0.3s;
}

#scrollTopBtn:hover {
  opacity: 1;
}
