/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1% 0;
  text-align: left;
}

th,
td {
  border: 1px solid #7188bb;
  padding: 1%;
  text-align: center;
}

th {
  background-color: #000;
  color: #fff;
  font-size: 1.15em;
}

.alt-row {
  background-color: #00c6ff;
}

tbody tr:hover {
  background-color: #00c6ff;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th,
  td {
    padding: 10px;
    font-size: 0.9em;
  }

  caption {
    font-size: 1.2em;
    text-align: center;
  }

  nav .mobile a:hover {
    color: #00c6ff;
  }
}

section {
  margin-top: 2rem;
}

section h3 {
  font-size: 1.5em;
  color: #2c3e50;
}

section p {
  color: #333;
  font-size: 1.1em;
  line-height: 1.6;
  margin: 15px 0;
}
